
header{
   
   display: flex;
    background-image: linear-gradient(rgb(58, 43, 43),rgb(202, 193, 167),rgb(52, 50, 44));
    height: 160px;
    

}
.audio1
       {height: 100px;
        width: 100px;
        border-radius: 10px 10px 10px 10px; 
       position: absolute;
       right:100px;
       bottom:0px;
       
        
       }
        
nav ul li
{
    display: inline-block;
    padding: 80px;
    padding-top: 10px;
}

nav ul li a 
{
    text-decoration: none;
    color: rgb(250, 245, 245);
    font-size: large;
    padding: 60px;
}

.grid{
    
    display: grid;
    display: flex;
    
}
#about{
    text-align: left;
    background-image: url("about.webp");
    color: aliceblue;
    font-size:x-large;
    padding: 3%;
    text-decoration: none;
    
}

#about a{
    text-decoration: none;
    color: aliceblue;
}
.grid img{
 border-radius: 10%;
 margin-left: 60px;
 margin-top: 100px;
}

.grid1{
    display: grid;
    display: flex;

    
}
.grid1 h1{
    text-align: right;
}
.car1 h2{
    text-align: right;
    color: black;
    margin-left: 100px;
}
.car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8{
   
   transform: skewy(20deg);
   transform: skewx(-20deg);
   
}
.car2,.car3,.car4,.car4,.car5,.car6,.car7,.car8{
    padding: 0px 0px 0px 500px;
}


#products{
   background-color: white;
    margin-top: 5px;
    padding: 0%;
}
#products h2{
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    
}
.grid1{
    width: 100%;
    height: 600px;
    overflow: auto auto;
    white-space: nowrap;
    padding: 80px;
}
.grid1 .car1{
    display: inline-block;
    width: 8000px;
    padding: 0px 600px 0 px 0px;
}
.grid1 .car2{
    display: inline-block;
    width: 8000px;
}
#extra{
    width: 100%;
    height: 500px;
    background-color: rgb(32, 25, 25);
    overflow: auto auto;
    white-space: nowrap;
    padding: 100px 100px 0px 2px;
    
}
#extra .e{
    display: inline-block;
    padding-right: 100px;
    
}
#ph{
    width: 100%;
    height: 650px;
    background-color: rgb(6, 1, 1);
    overflow: auto auto;
    white-space: nowrap;
    padding: 100px 100px 0px 2px;
    
}
#ph .p1{
    display: inline-block;
    padding-right: 100px;
    
}
#reviews h1{
    background-color: rgb(206, 185, 185);
    color: white;
    font-size: large;
}
#move{
    width: 100%;
    height: 700px;
    background-color: rgb(28, 15, 15);
    overflow: auto auto;
    white-space: nowrap;
    padding: 1px;
}
#move .slide{
    display: inline-block;
    
}

body{
    background-image: url("backgrond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    

}

marquee{
    background-color: white;
    color: black;
}
#contact{
    text-align: center;
}
.main{
    display:flex;
    padding: 10px;
}
#contact form{
    width: 300px;
    height: 250px;
    background-color:transparent;
    margin-left: 400px;
    padding: 120px;
    border: 4px solid rgb(212, 199, 199);
    background-image: linear-gradient(rgb(0, 0, 0),rgb(78, 72, 57),rgb(14, 13, 11));
}

.map{
    
    height: 500px;
    color: black;
    border: 5px solid rgb(50, 49, 49);
    
}
.map iframe{
    height: 500px;
    width: 900px;
}
footer
{
    background-image: linear-gradient(rgb(110, 96, 96),rgb(235, 233, 223),rgb(9, 9, 8));
height: 200px;



}
footer p{
    text-align: center;
    color:black;

    padding: 90px 0px 0px 0px;
    
}
.icon{
    margin-left: 900px;
    margin-bottom: 20px;
}

